.Forcast{
   display: flex;
   width: 100%;
   margin: auto;
   padding: 10px 5px;
   flex-direction: column;

   .wrapper{
      display: flex;
      justify-content: space-between;
      background-color: rgb(226, 215, 215, 0.7);
      margin: 10px 20px;
      padding: 10px 20px;
      border-radius: 10px;
      
      .name{
         display: flex;
         font-size: 40px;
         font-weight: 600;
         .cityIcon{
            display: flex;
            position: relative;
            padding: 10px;
            font-size: 50px;
            margin-bottom: 10px;
         }

      }
      .button{
         display: flex;
         margin: 30px;
         border: none;
         border-radius: 30px;
         padding: 10px;
         box-shadow: 0px 2px 10px;
         cursor: pointer;

      }
      .forcastDay{
         display: flex;
         flex-direction: column;
         background-color: blueviolet;
         box-shadow: 0px 2px 10px;
         border-radius: 30px;
         padding: 10px 15px;
         width: 100%;
         font-weight: 500;
         
      }
   }
}