.Forcast{
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 5rem;
   .left{
      display: flex;
      align-items: center;
   }

   .right{
      display: flex;
   }
}