.Home{
    // background-color: var(--main-color);
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}