.navbar{
    color: white;
    width: 100%;
    font-size: 25px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 10%, rgba(123, 71, 206, 0.3) 20%);
    
    .container{
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left{
            display: flex;
            align-items: center;

            img{
                height: 70px;
                margin-right: 40px;
            }
        }

        .right{
            display: flex;
            align-items: center;
            cursor: pointer;

            .homePage{
                height: 90px;
                width: 40px;
                padding-bottom: 10px;
            }

            span{
                padding: 20px;
                padding-top: 10px;
            }
        }
    }

}
